.navbar{
    background-color: #fff !important;
  }
  .brand{
    color:teal !important;
  }
  .navbar-nav li a:hover{
      color:teal !important;
      border-bottom: 3px solid teal
  }
  .navbar a{
      font-size: 1.5rem;
      text-transform: capitalize !important;}
      .navbar-brand{
          font-size: 1.8rem;
      }
      strong{
        color :teal;
      }
      .get{
          background-color: teal;
          border-radius: 40px;
          
      }
      .animated{
          animation: up-down 2s ease-in-out infinite alternate-reverse both;
      }
      @keyframes up-down{
          0%{
              transform: translateY(15px);

          }
          100%{
              transform: translateY(-15px);
          }
      }
      
     .img-2,.heading-2{
         margin-top: 50px;
         color: teal;
     }
     .img-2-text{
         font-size: 18px;
         line-height: 2 rem;
     }
     .counters{
        margin-top: 50px;
         
         background-color:#B2DFDB;
       
     }
     .count{
         padding-top: 50px;
         display: flex;
         text-align: center;
         justify-content: space-around; 
         padding-bottom: 50px;

     }
     .parameters h3{
         
         color: #004D40;
       
      font-weight: 700;
        font-size: 35px;
     }
     .counter{
     
        color:#004D40;
         font-size: 30px;
         font-weight: 600;
     }
     @media only screen and (max-width: 600px){
        .count{
            flex-direction: column;
        }
        .footer-head{
            flex-direction: column;
        }
        .foot-heading{
            margin-top: 30px;
            font-size: 15px;

        }
        .foot-inside{
            font-size: 10px;
        }
        iframe{
            width: fit-content;
        }
        .img-foot{
            display: none;
        }
     }
    .footer-head{
        display: flex;
        justify-content: space-around;
        /* background-color:#c5c6c7; */
    }
    .foot-inside{
        list-style: none;
        font-size: 20px;
        
        color: #004D40;
        cursor: pointer;
    }
    .foot-heading{
        font-size: 25px;
        margin-bottom: 20px;
        
        color: #004D40;
    }
    .follow{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        /* width: 100%;` */
    }
    .icons{
        font-size: 30px;
        
        color: #004D40;
        padding: 5px 10px;
        margin-bottom: 20px;
        
    }
    